<app-mobile-sidemenu
  class="mobile-sidemenu"
  [isOpen]="showSidemenu"
  [ngClass]="{'mobile-sidemenu--open': showSidemenu}"
></app-mobile-sidemenu>
<!-- <div class="free-shipping-alert">
  <span class="font-small text-light">!Disfruta de envíos gratis a partir de 
    <strong class="font-small text-light">{{ 1000 | currency:"MXN":"symbol" }}</strong>!
  </span>
</div> -->
<nav class="navbar-mobile">
  <div class="navbar-mobile__item navbar-mobile__start">
    <app-custom-button
      [color]="'dark'"
      [icon]="'menu'"
      [fill]="'clear'"
      (onClick)="openSidemenu()"
    ></app-custom-button>
    <a [routerLink]="['/']" class="d-flex">
      <img class="navbar-mobile__logo" src="assets/images/logo.png" alt="Logotipo Casa Luca">
    </a>
  </div>
  <div class="navbar-mobile__item navbar-mobile__center">
    <a [routerLink]="['/']" class="d-flex">
      <img class="navbar-mobile__logo" src="assets/images/logo.png" alt="Logotipo Casa Luca">
    </a>
    <ng-container [ngTemplateOutlet]="mobileNavbarControls"></ng-container>
  </div>
  <div class="navbar-mobile__item navbar-mobile__end">
    <div class="cart-indicator">
      @if (productsQuantityInCart) {
        <div name="cart-outline" class="cart-indicator__badge badge">
          {{ productsQuantityInCart }}
        </div>
      }
      <app-custom-button
        [color]="'dark'"
        [icon]="'cart-outline'"
        [fill]="'clear'"
        (onClick)="redirectTo('mi-carrito')"
      ></app-custom-button>
    </div>
    <app-custom-button
      [color]="'dark'"
      [icon]="'person-outline'"
      [fill]="'clear'"
      (onClick)="redirectTo('perfil')"
    ></app-custom-button>
  </div>
  <div class="navbar-mobile__item navbar-mobile__bottom">
    <ng-container [ngTemplateOutlet]="mobileNavbarControls"></ng-container>
  </div>
</nav>

<ng-template #mobileNavbarControls>
  <!-- <app-custom-button
      class="navbar-mobile__branch-button"
      [ngClass]="{'no-branch': !selectedBranch}"
      [text]="(selectedBranch) ? selectedBranch.nombre : 'Sucursal'"
      [color]="'medium'"
      [icon]="'location'"
      [iconPosition]="'right'"
      (onClick)="openSelectBranchModal()"
    ></app-custom-button> -->
    <!-- <app-custom-control
      class="navbar-mobile__searchbar"
      [id]="'search'"
      [name]="'search'"
      [type]="'text'"
      [placeholder]="'Buscar producto...'"
      [button]="{
        color: 'medium',
        icon: 'search'
      }"
    ></app-custom-control> -->
    <app-search-product class="navbar-mobile__searchbar"></app-search-product>
</ng-template>