.product-group {

  &__header {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-normal);
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: var(--spacing-normal);

    &-categories {
      // flex: 1;
      display: flex;
      justify-content: end;
      overflow: auto;
      scrollbar-width: none;
      margin: 0;
      padding: 0;
      gap: var(--spacing-normal);
      list-style: none;

      &__item {
        &--active {
          color: var(--color-primary);
          border-bottom: 2px solid var(--color-primary);
        }

        &:hover {
          transform: translateY(-3px);
          transition: 0.2s;

          app-custom-button ::ng-deep .btn {
            color: var(--color-primary) !important;

            &:hover {
              background-color: transparent !important;
            }
          }
        }
      }
    }
  }

  &__content {
    &-grid {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-normal);

      app-product-card {
        @media (min-width: 1251px) {
          flex: 1 1 calc(14rem + var(--spacing-normal));
          max-width: calc(14rem + var(--spacing-normal));
        }

        @media (max-width: 1250px) {
          width: calc((100% / 5) - var(--spacing-normal));
        }

        @media (max-width: 1100px) {
          width: calc((100% / 4) - var(--spacing-normal));
        }

        @media (max-width: 870px) {
          width: calc((100% / 3) - var(--spacing-normal));
        }

        @media (max-width: 670px) {
          width: calc((100% / 2) - var(--spacing-normal));
        }
      }
    }

    &-carousel {
      position: relative;

      &__action-left,
      &__action-right {
        position: absolute;
        top: 35%;
        opacity: 0.65;
        z-index: 1;

        &:hover {
          opacity: 1;
        }

        ::ng-deep .btn {
          border-radius: 50% !important;
          width: var(--spacing-large);
          height: var(--spacing-large);
          padding: var(--spacing-extra-small);
          justify-content: center;
        }
      }

      &__action-right {
        right: 0;
      }
    }
  }
}

.carousel {
  app-product-card {
    width: 100%;
  }
}