<main class="change-password">
  <section class="change-password__container">
    <div class="change-password__header">
      <h2 class="font-large fw-bold m-0 text-dark">Cambiar contraseña</h2>
    </div>
    <form [formGroup]="form" class="row align-items-end" style="row-gap: 0.5rem;">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <app-custom-control
          formControlName="currentPassword"
          [id]="'currentPassword'"
          [name]="'currentPassword'"
          [label]="'Contraseña actual'"
          [type]="(this.showConfirmPassword) ? 'text' : 'password'"
          [placeholder]="'********'"
          [control]="form.controls['currentPassword']"
          [button]="{
            color: 'medium',
            icon: (this.showConfirmPassword) ? 'eye-off' : 'eye'
          }"
          (onClickButton)="toggleShowConfirmPassword()"
        ></app-custom-control>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <app-custom-control
          formControlName="newPassword"
          [id]="'newPassword'"
          [name]="'newPassword'"
          [label]="'Nueva contraseña'"
          [type]="(this.showPassword) ? 'text' : 'password'"
          [placeholder]="'********'"
          [control]="form.controls['newPassword']"
          [button]="{
            color: 'medium',
            icon: (this.showPassword) ? 'eye-off' : 'eye'
          }"
          (onClickButton)="toggleShowPassword()"
        ></app-custom-control>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <app-custom-control
          formControlName="confirmPassword"
          [id]="'confirmPassword'"
          [name]="'confirmPassword'"
          [label]="'Confirmar contraseña'"
          [type]="(this.showConfirmPassword) ? 'text' : 'password'"
          [placeholder]="'********'"
          [control]="form.controls['confirmPassword']"
          [button]="{
            color: 'medium',
            icon: (this.showConfirmPassword) ? 'eye-off' : 'eye'
          }"
          (onClickButton)="toggleShowConfirmPassword()"
        ></app-custom-control>
      </div>
      <div class="col-12">
        <p class="font-small text-dark-50">
          Para asegurar la integridad de tu información, tu contraseña debe estar compuesta por al menos 8 caracteres, en los cuales debes incluir:
        </p>
        <ul class="font-small">
          <li class="text-dark-50">una letra mayúscula</li>
          <li class="text-dark-50">una letra minúscula</li>
          <li class="text-dark-50">un número</li>
          <li class="text-dark-50">un carácter especial (como &#64;, #, $)</li>
        </ul>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <app-custom-button
          [text]="'Guardar cambios'"
          [color]="'primary'"
          [fill]="'solid'"
          [isDisabled]="!form.valid || !form.dirty"
          (onClick)="updatePassword()"
        ></app-custom-button>
      </div>
    </form>
  </section>
</main>