.change-password {
  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-normal);
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-normal);
  }
}