<section class="reset-password">
  @if (currentStep.id != 4) {
    <img class="reset-password__logo" src="assets/images/logo.png" alt="Logotipo imvet">

    <app-timeline
      [items]="timeline"
      [currentItem]="currentStep"
    ></app-timeline>
  }

  <h1 class="reset-password__title">{{ currentStep.title }}</h1>

  @if (currentStep.id != 4) {
    <form class="reset-password__form" [formGroup]="form">
      @if (currentStep.id == 1) {
        <p class="font-small text-center">
          Ingresa el correo electrónico con el que creaste tu cuenta, enviaremos un PIN que será necesario para el restablecimiento de tu contraseña.
        </p>
        <app-custom-control
          formControlName="email"
          [id]="'email'"
          [name]="'email'"
          [label]="'Correo electrónico'"
          [type]="'email'"
          [placeholder]="'casaluca@email.com'"
          [control]="form.controls['email']"
        ></app-custom-control>
        <app-custom-button
          [text]="'Siguiente'"
          [color]="'primary'"
          [fill]="'solid'"
          [isDisabled]="!form.controls['email'].valid"
          (onClick)="requestResetPassword()"
        ></app-custom-button>
      } @else if (currentStep.id == 2) {
        <p class="font-small text-center">
          Hemos enviado un PIN a tu correo electrónico. Ingrésalo para continuar con la recuperación de tu contraseña. Si no lo encuentras, te sugerimos revisar tu bandeja de spam
        </p>
        <app-otp-input
          (onOtpChange)="setPin($event)"
        ></app-otp-input>
        <small>¿No recibiste el PIN? <a class="text-primary" (click)="requestResetPassword(false)">Reenviar PIN</a></small>
        <div>
          <app-custom-button
            [text]="'Siguiente'"
            [color]="'primary'"
            [fill]="'solid'"
            [isDisabled]="!form.controls['pin'].valid"
            (onClick)="verifyPin()"
          ></app-custom-button>
        </div>
      } @else if (currentStep.id == 3) {
        <p class="font-small text-center">
          Ingresa una nueva contraseña, recuerda guardarla en un lugar seguro para que no la olvides.
        </p>
        <div>
          <app-custom-control
            formControlName="password"
            [id]="'password'"
            [name]="'password'"
            [label]="'Contraseña'"
            [type]="(this.showPassword) ? 'text' : 'password'"
            [placeholder]="'********'"
            [control]="form.controls['password']"
            [button]="{
              color: 'medium',
              icon: (this.showPassword) ? 'eye-off' : 'eye'
            }"
            (onClickButton)="toggleShowPassword()"
          ></app-custom-control>
          <app-custom-control
            formControlName="confirmPassword"
            [id]="'confirmPassword'"
            [name]="'confirmPassword'"
            [label]="'Confirmar contraseña'"
            [type]="(this.showConfirmPassword) ? 'text' : 'password'"
            [placeholder]="'********'"
            [control]="form.controls['confirmPassword']"
            [button]="{
              color: 'medium',
              icon: (this.showConfirmPassword) ? 'eye-off' : 'eye'
            }"
            (onClickButton)="toggleShowConfirmPassword()"
          ></app-custom-control>
          <div>
            <p class="font-small text-dark-50">
              Para asegurar la integridad de tu información, tu contraseña debe estar compuesta por al menos 8 caracteres, en los cuales debes incluir:
            </p>
            <ul class="font-small">
              <li class="text-dark-50">una letra mayúscula</li>
              <li class="text-dark-50">una letra minúscula</li>
              <li class="text-dark-50">un número</li>
              <li class="text-dark-50">un carácter especial (como &#64;, #, $)</li>
            </ul>
          </div>
          <app-custom-button
            [text]="'Restablecer contraseña'"
            [color]="'primary'"
            [fill]="'solid'"
            [isDisabled]="!form.controls['password'].valid || !form.controls['confirmPassword'].valid"
            (onClick)="resetPassword()"
          ></app-custom-button>
        </div> 
      }
    </form>
  } @else if (currentStep.id == 4) {
    <div class="reset-password__success">
      <ion-icon name="checkmark-circle" class="font-title text-success"></ion-icon>
      <p class="font-small mb-0">
        Serás redirigido a la pantalla de inicio de sesión para que ingreses tus nuevas credenciales.
      </p>
      <p class="font-small mb-0">
        Serás redirigido en {{ seconds }} segundos
      </p>
    </div>
  }
</section>