<footer class="footer">
  <div class="footer__content">
    <section class="footer__column">
      <img class="footer__logo" src="assets/images/logo.png" alt="Logotipo imvet">
      <p class="m-0 font-small">
        ¡Contáctanos para resolver cualquier duda o para solicitar nuestros servicios veterinarios!
      </p>
      <div class="footer__contact">
        <div class="footer__contact-item">
          <small class="text-dark-50">Teléfono</small>
          <a href="tel:+528114814263" target="_blank" class="font-small">
            +52 81 1481 4263
          </a>
        </div>
        <div class="footer__contact-item">
          <small class="text-dark-50">Correo electrónico</small>
          <a href="mailto:micasalucashop@gmail.com" target="_blank" class="font-small">
            micasalucashop&#64;gmail.com
          </a>
        </div>
      </div>
      <div class="footer_social-media">
        <small>Síguenos:</small>
        <ul class="footer__list footer__list-horizontal">
          <li>
            <a>
              <ion-icon name="logo-facebook" class="font-large"></ion-icon>
            </a>
          </li>
          <li>
            <a>
              <ion-icon name="logo-instagram" class="font-large"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="footer__column">
      <h5 class="font-normal fw-bold m-0">Horarios</h5>
      <ul class="footer__list footer__list-vertical">
        <li>Lunes a Viernes - 8:00 a.m a 8:00 p.m</li>
        <li>Sabado - 8:00 a.m a 8:00 p.m</li>
      </ul>
    </section>
    <section class="footer__column">
      <h5 class="font-normal fw-bold m-0">Sucursales</h5>
      <ul class="footer__list footer__list-vertical">
        <li><b>Garza Sada</b>: Eugenio Garza Sada 4400, Monterrey, Mexico 8112318748</li>
        <li><b>Valle</b>: Río Amazonas 401 Col. Del Valle, San Pedro Garza García 8116845434</li>
        <li><b>Pick & Go</b></li>
      </ul>
    </section>
    <section class="footer__column last">
      <div class="footer__app-links">
        <h5 class="font-normal fw-bold m-0">Descarga nuestra app</h5>
        <ul class="footer__list footer__list-horizontal">
          <li>
            <a>
              <img class="store-logo" src="assets/images/stores/play-store.png" alt="Google Play Store Logo">
            </a>
          </li>
          <li>
            <a>
              <img class="store-logo" src="assets/images/stores/app-store.png" alt="App Store Logo">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__payment-methods">
        <h5 class="font-normal fw-bold m-0">Métodos de pago</h5>
        <ul class="footer__list footer__list-horizontal">
          <li>
              <img class="payment-method" src="assets/images/payment-methods/mastercard.png" alt="MasteCard Logo">
          </li>
          <li>
              <img class="payment-method" src="assets/images/payment-methods/amex.svg" alt="AmericanExpress Logo">
          </li>
          <li>
            <img class="payment-method" src="assets/images/payment-methods/visa.svg" alt="Visa Logo">
        </li>
        </ul>
      </div>
    </section>
  </div>
  <div class="footer__copyright">
    <small>2024 © Copyright <b>imvet</b> | Development by: <b>Grupo Imvet</b></small>
    <ul class="footer__list footer__list-horizontal">
      <li>
        <a class="font-small">Políticas de privacidad</a>
      </li>
      <li>
        <span>·</span>
      </li>
      <li>
        <a class="font-small">Términos y condiciones</a>
      </li>
    </ul>
  </div>
</footer>