.product-quickview {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-normal);

  &__gallery {
    width: calc(50% - var(--spacing-normal));
  }

  &__content {
    width: calc(50% - var(--spacing-normal));
    height: fit-content;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-normal);

    &-tags {
      display: flex;
      gap: var(--spacing-small);
    }

    &-details {
      display: flex;
      flex-direction: column;
    }

    &-description {
      width: 100%;
      font-size: var(--font-size-normal);
      margin: 0;
      text-align: justify;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      line-clamp: 6;
      -webkit-box-orient: vertical;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        word-wrap: break-word;
      }
    }

    &-price {
      display: flex;
      flex-direction: column;
    }

    &-discount {
      position: relative;
      top: -0.5rem;
      color: var(--color-success);
    }

    &-actions {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 1200px) {

    &__gallery,
    &__content {
      width: 100%;
    }
  }
}