.coupon-carousel {

  &__header {
    padding-bottom: var(--spacing-normal);
  }

  &__content {
    position: relative;

    // .force-grid::ng-deep .owl-carousel .owl-item {
    //   width: calc(100% / 5) !important;

    //   @media (max-width: 1100px) {
    //     width: calc((100% / 3) - var(--spacing-small)) !important;
    //   }

    //   @media (max-width: 760px) {
    //     width: calc((100% / 1) - var(--spacing-small)) !important;
    //   }

    //   @media (max-width: 625px) {
    //     width: calc((100% / 1) - var(--spacing-small)) !important;
    //   }
    // }

    &__action-left,
    &__action-right {
      position: absolute;
      top: 50%;
      opacity: 0.65;
      z-index: 1;

      &:hover {
        opacity: 1;
      }

      ::ng-deep .btn {
        border-radius: 50% !important;
        width: var(--spacing-large);
        height: var(--spacing-large);
        padding: var(--spacing-extra-small);
        justify-content: center;
      }
    }

    &__action-right {
      right: 0;
    }
  }

  app-coupon-card {
    width: 100%;
  }
}